<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <!-- Do not log exception when schemaLocation begins with 'classpath:' and root level is DEBUG. -->
    <logger name="org.springframework.beans.factory.xml.ResourceEntityResolver" level="INFO" />
    
    <!-- Log property resolution at INFO. -->
    <logger name="org.springframework.core.env.PropertySourcesPropertyResolver" level="INFO" />
    <logger name="org.springframework.jndi" level="INFO" />
    
    <logger name="PROTOCOL_MESSAGE" level="DEBUG" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%5level] : %logger: %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>